@use "./styles/modals.scss" as modul;
#navbar{
    z-index: 30;
    @include modul.basicTheme;
    border-bottom: 1px solid modul.$global-color-hover;
    img{
        user-select: none;
        cursor: pointer;
    }
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        position: absolute;
        top: 0;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            font-size: 13px;
        }
    }
    a{
        flex: 1 1 auto;
        text-decoration: none;
        color: modul.$global-color;
        transition: 0.2s;
        z-index: 1;
        text-align: center;
    }
    a:hover{
        color: modul.$global-color-hover;
    }
}
.navbar{
    backdrop-filter: blur(10px);
    transition: 0.3s;
    .line{
        width: 70%;
        height: 30px;
        position: absolute;
    }.container {
        height: 40px; 
        transition: height 0.4s ease; /* Плавное изменение высоты */
    }
    background: rgba(22, 22, 23, 0.901);

}
.navbar_content{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(215, 215, 215, 0.158);
    z-index: -4;
}
.navbar{
    .container.true{height: 400px;}
    .container.false{height: 40px;}
}
.navbar.true{backdrop-filter: blur(0px);}
