@use "./styles/modals.scss" as module;
@font-face {
    font-family: 'MyCustomFont'; /* Название вашего шрифта */
    src: url("./styles/SFProText-Heavy.ttf") format('truetype');
}
#global{
    padding: 40px 0px 0px ;
}
a,button{
    transition: 0.2s;
}

#navbar{
    position: fixed;
    z-index: 30;
    @include module.basicTheme;
    img{
        user-select: none;
        cursor: pointer;
    }
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: height 0.4s ease;
    }
    .container.null{
        height: 40px;
    }
    nav{
        position: absolute;
        top: 0;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            font-size: 13px;
        }
    }
    a{
        flex: 1 1 auto;
        text-decoration: none;
        color: module.$global-color;
        text-align: center;
    }
    a:hover{
        color: module.$global-color-hover;
    }
    button:hover{
        color: module.$global-color-hover;
    }
    .client_btn{
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        button{
            display: flex;
            align-items: center;
            border: none;
            color: module.$global-color;
            background: none;
        }
    }
}
.navbar{
    backdrop-filter: saturate(210%) blur(20px);
    transition: 0.3s;
    .line{
        width: 70%;
        height: 30px;
        position: absolute;
    }
    background: rgba(22, 22, 23, 0.803);
}
.navbar_content{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(215, 215, 215, 0.158);
    z-index: -4;
}
.navbar{
    .container.true{height: 400px;}
    .container.false{height: 40px;}
    
}
.navbar.true{
    background: #161617;
    backdrop-filter: blur(0px);
}

#admin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .admin_content{
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        h1{
            font-weight: 400;
            font-size: 20px;
            font-family: MyCustomFont;
        }
        .inputs{
            margin-top: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            input, textarea{
                padding: 0px 5px;
                width: 300px;
                height: 25px;
                font-size: 15px;
            }
            input:focus{
                outline-offset: -1px;
                border-radius: 3px;
                outline: 1px solid  #2255ef;
            }
            textarea:focus{
                outline-offset: -1px;
                border-radius: 3px;
                outline: 1px solid  #2255ef;
            }
            select{
                width: 100px;
                font-size: 15px;
            }
            select:focus{
                outline-offset: -1px;
                border-radius: 3px;
                outline: 1px solid  #2255ef;
            }
            button{
                border: none;
                color: module.$global-color;
                background-color: #3f6df7;
                border-radius: 5px;
                width: 100px;
                height: 30px;
                font-size: 15px;
            }
            button:active{
                background-color: #89a6fb;
            }
        }
    }
}
@mixin HomeLinkPresent(){
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        line-height: 1.07143;
        letter-spacing: -.005em;
        font-weight: 500;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    h3{
        font-weight: 400;
        font-size: 30px;
        opacity: 0.9;
    }
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2997ff;
        z-index: 1;
    }
    a:hover{
        text-decoration: underline;
    }
}
#home{
    width: 100%;
    .global_menu_apple_content{
        width: 100%;
        @include module.flex( flex ,start, flex-start, column); 
        .vision_pro{
            position: relative;
            width: 100%;
            background-color: #f4f4fd;
            color:#1d1d1f ;
            @include HomeLinkPresent;
            @include module.flex( flex ,center, flex-start, row); 
            .vision_content{
                width: 100%;
                height: 95vh;
                @include module.flex( flex ,center, flex-start, row); 
            }
            img{
                height: 100%;
            }
            .vision_title{
                position: absolute;
                bottom: 40px;
            }
            .vision_pro_links{
                width: 100%;
                @include module.flex( flex ,center, flex-start, row)
            }
        }  
        .iphone_15_pro {
            position: relative;
            height: 100%;
            flex-direction: column;
            height: 94vh;            
            background: rgb(0, 0, 0);
            color: module.$global-color-secondary;
            @include module.basicTheme;
            @include HomeLinkPresent;
            .module_content{
                @include module.basicTheme;
                flex-direction: column;
                margin-top: 90px;
            }
            .iphone_15_pro_title{
                position: absolute;
                top: 80px;
                @include module.flex;
                flex-direction: column;
                align-items: center;
            }
            .iphone_15_pro_links{
                width: 200px;
                display: flex;
                justify-content: space-between;
            }
        }      
        .iphone_15{
            width: 100%;
            color: #1d1d1f;
            @include module.flex( flex , start, flex-start, row);
            @include HomeLinkPresent;
            .module_content{
                width: 100%;
                height: 90vh;
                @include module.flex( flex , space-between, flex-start, column);
            }
            .iphone_15_title{
                margin-top: 50px;
                width: 100%;
                @include module.flex( flex ,center, center, column)
            }
            .iphone_15_links{
                width: 100%;
                @include module.flex( flex ,center, flex-start, row)
            }
            .iphone_15_pro_link{
                width: 100%;
                img{
                    width: 100%;
                    height: 270px;
                }
            }
        }   
    }
}
@mixin AppleProductTextForHome(){
    h1{
        display: flex;
        align-items: center;
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .002em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    h3, h2{
        font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: .012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2997ff;
        z-index: 1;
    }
    a:hover{
        text-decoration: underline;
    }
}
#apple_products{
    width: 100%;
    @include module.flex( flex ,center, center, row);
    .content{
        width: 95%;
        @include module.flex( flex ,space-between, flex-start, row);
        flex-wrap: wrap;
    }
    .apple_product{
        @include AppleProductTextForHome;
        position: relative;
        width: 50%;
        @include module.flex( flex ,center, center, column);
        img{
            width: 99%;
        }
        .apple_title{
            position: absolute;
            @include module.flex( flex ,center, center, column);
            top: 10px;
            div{
            @include module.flex( flex ,center, flex-start, row);
            }
        }
        span{
            font-size: 19px;
            background-image: linear-gradient(90deg, #cb1333, #de45c1, #b96be2, #84a9e0, #23d43b, #d0bb08, #eb6d17);;
            background-clip: text; 
            color: transparent;
        }
    }
}
#apple_services{
    @include AppleProductTextForHome;
    @include module.flex( flex ,center, center, row);
    width: 100%;
    .content{
        width: 95%;
        @include module.flex( flex ,space-between,center, row);
        flex-wrap: wrap;
    }
    .apple_services{
        @include module.flex( flex ,center, flex-start, column);
        position: relative;
        width: 50%;
    }
    img{
        width: 100%;
    }
    .apple_services_title{
        h3{
            width: 80%;
            text-align: center
        }
        @include module.flex( flex ,center, center, column);
        top: 30px;
        position: absolute;
    }
    .apple_services_links{
        display: flex;
    }
    
}
#apple_tv_sliders{
    width: 100%;
    @include module.flex( flex ,center, center, column);
    .content{
        overflow: hidden;
        width: 100%;
        @include module.flex( flex ,start, center, row);
        img{
            width: 100%;
        }
        
    }
    .content_current{
        width: 100%;
        gap: 10px;
        @include module.flex( flex ,center, center, row);
        button{
            border: none;
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }
    }
    
}
//@include module.flex( flex ,start, flex-start, row);
#Store{
    width: 100%;
    @include module.flex( flex ,center, center, row);
    .store_content{
        margin-top: 30px;
        gap: 40px;
        width: 90%;
        @include module.flex( flex ,start, flex-start, row);
        flex-wrap: wrap;
    }
    a{
        text-decoration: none;
    }
    .card_product{
        cursor: pointer;
        width: 320px;
        height: 370px;
        background-color: #fff;
        border-radius: 18px;
        box-shadow: 2px 4px 12px #00000014;
        @include module.flex( flex ,center, center, row);
        transition: all .3s ;
        h3{
            color: #b64400;
            font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -.01em;
            line-height: 1.3333733333;
            margin-bottom: 8px;
            width: 204px;
        }
        h1{
            color: #1d1d1f;
            font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: .007em;
            line-height: 1.1428571429;
            margin: 0 0 9px;
        }
        h2{
            color: #1d1d1f;
            font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -.016em;
            line-height: 1.2857742857;
            white-space: normal;
        }
        .card_content{
            width: 90%;
            height: 90%;
            @include module.flex( flex ,center, center, column);
        }
        img{
            width: 80%;
            height: 340px;
        }
        button{
            color: white;
            width: 50px;
            height: 30px;
            border: none;
            border-radius: 50px;
            background-color: #0071e3
        }
    };
    .card_title{
        width: 80%;
        height: auto;
    }
    .card_option{
        width: 90%;
        @include module.flex( flex ,space-between, flex-start, row);
    }
    .card_product:hover{
        transform: scale(1.04);
    }
    .loading_card{
        transition: 0.4s;
        cursor: pointer;
        width: 320px;
        height: 370px;
        border-radius: 18px;
        background: #9e9ea3;
        box-shadow: 2px 4px 12px #00000014;
        @include module.flex( flex ,center, center, row);
        transition: all .3s ;
        animation: loadingCard 2s infinite;
        .h3{
            width: 60px;
            border-radius: 30px;
            background-color: #cdcdce;
            height: 20px;
        }
        .card_content{
            width: 90%;
            gap: 10px;
            height: 90%;
            @include module.flex( flex ,center, center, column);
        }
        .img{
            width: 89%;
            height: 330px;
            border-radius: 10px;
            background-color: #bababa;
        }
        .button{
            color: white;
            width: 50px;
            height: 30px;
            border: none;
            border-radius: 50px;
            background-color: #0071e3
        }
        .h2{
            width: 200px;
            height: 20px;
            border-radius: 50px;
            background-color: #cdcdce;
        }
    }

}

//@include module.flex( flex ,start, flex-start, row);